/biocasemonitor/config/config.php
/biocasemonitor/config/phpliteadmin.config.php
/biocasemonitor/config/phpliteadmin.css
/biocasemonitor/config/phpliteadmin.php
/biocasemonitor/config/install.sh
/biocasemonitor/config/provider.sqlite
/biocasemonitor/_future/
/biocasemonitor/tmp/
/biocasemonitor/Doxyfile
/biocasemonitor/Doxy_warn.log
/biocasemonitor/info/unused/
/biocasemonitor/services/citations/
/nbproject/